<%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5">

                <h2 class="alert alert-success text-center">Update Employee</h2>


                <form method="post" action="/employe/update/<%= data._id %>">
                    <!-- Name -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" />
                    </div>

                    <!-- Tech -->
                    <div class="mb-3">
                        <label for="tech" class="form-label">Technology</label>
                        <input type="text" class="form-control" id="tech" name="tech" value="<%= data.tech %>" />
                    </div>

                    <!-- Position -->
                    <div class=" mb-3 ">
                        <label for="position " class="form-label ">Position</label>
                        <input type="text " class="form-control " id="position " name="position" value="<%= data.position %>" />
                    </div>

                    <!-- button -->
                    <button type="submit" class="btn btn-warning">Update</button>
                    <button type="submit" class="btn btn-secondary">Back To Home</button>
                </form>


            </div>
        </div>
    </div>



    <%- include('./partials/footer.ejs') %>