<%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5">
                <h2 class="alert alert-success text-center">Add New Employee</h2>


                <form method="post">
                    <!-- Name -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>

                    <!-- Tech -->
                    <div class="mb-3">
                        <label for="tech" class="form-label">Technology</label>
                        <input type="text" class="form-control" id="tech" name="tech" />
                    </div>

                    <!-- Position -->
                    <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" id="position" name="position" />
                    </div>

                    <!-- button -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


            <div class="col-sm-6 mt-5">
                <h2 class="alert alert-danger text-center">List of Employee</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Technology</th>
                            <th scope="col">Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i=1 %>
                            <% data.forEach((item)=> { %>

                                <tr>
                                    <td>
                                        <%= i++ %>
                                    </td>
                                    <td>
                                        <%= item.name %>
                                    </td>
                                    <td>
                                        <%= item.tech %>
                                    </td>
                                    <td>
                                        <%= item.position %>
                                    </td>
                                    <td>
                                        <form action="/employe/edit/<%= item._id %>" method="get" class="d-inline">
                                            <button type="submit" class="btn">
                                               <i class="fas fa-pen-square text-info"></i>
                                            </button>
                                        </form>

                                        <form action="/employe/delete/<%= item._id %>" method="post" class="d-inline">
                                            <button type="submit" class="btn">
                                               <i class="fas fa-trash text-danger"></i>
                                            </button>
                                        </form>

                                    </td>
                                </tr>

                                <% }) %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%- include('./partials/footer.ejs') %>